src/main/mule/member-system-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
       <flow name="member-system-api-main">
        <http:listener config-ref="member-system-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="member-system-api-config" />
        <error-handler ref="globalError_Handler">
           
        </error-handler>
    </flow>
    <flow name="member-system-api-console">
        <http:listener config-ref="member-system-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="member-system-api-config" />
        <error-handler ref="globalError_Handler">
           
        </error-handler>
    </flow>
    <flow name="patch:\members\(memberId):application\json:member-system-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="99ee3aeb-9efa-4567-8b51-64910df1e804" message="Request Received for Patch member SAPI for transactionId :#[vars.requestHeader.'x-cms-transactionid']" />
		<ee:transform doc:name="Transform Message" doc:id="57bc4285-4f92-4fb0-b4f9-840f166c6729">
            <ee:variables>
                <ee:set-variable variableName="memberId"><![CDATA[attributes.uriParams.'memberId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="cad26141-fb01-4f17-8b4d-85a7494329a5" name="update-member-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="cc4151c3-e361-49ba-8336-b2c53f4f1953" message="Response sent for Patch member SAPI for transactionId :   #[vars.requestHeader.'x-cms-transactionid']" />
    </flow>
    <flow name="get:\members:member-system-api-config">
		<logger level="INFO" doc:name="Logger" doc:id="e82018f5-a384-43ce-9953-ee9058315d80" message="Request Received for GET member  list SAPI for transactionId :#[vars.requestHeader.'x-cms-transactionid']"/>
		<flow-ref doc:name="Flow Reference" doc:id="fbeeed84-4669-4e01-884e-8a5f00b08f65" name="get-member-list-implemetationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="7272170d-2245-4547-9271-30c89998457d" message="Response sent for GET member  list SAPI for transactionId :   #[vars.requestHeader.'x-cms-transactionid']"/>
    </flow>
    <flow name="get:\members\(memberId):member-system-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="ee89579b-0073-468a-9bea-0f0a103c4fe4" message="Request Received for GET member SAPI for transactionId :#[vars.requestHeader.'x-cms-transactionid']" />
		<ee:transform doc:name="Transform Message">
            <ee:variables>
                <ee:set-variable variableName="memberId">attributes.uriParams.'memberId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<flow-ref doc:name="Flow Reference" doc:id="c325a074-296b-4d2b-930b-feac5bafbfdc" name="get-member-details-implementationFlow"/>
		<logger level="INFO" doc:name="Logger" doc:id="f10282af-7c0e-49a8-a3f1-9bb82c3a8300" message="Response sent for GET member SAPI for transactionId :   #[vars.requestHeader.'x-cms-transactionid']" />
    </flow>
    <flow name="post:\members:application\json:member-system-api-config">
		<logger level="INFO" doc:name="Request logger for post member" doc:id="4d7891f2-08e2-4cad-8ffd-16e267ddff62" message="Request Received for POST member SAPI for transactionId :   #[vars.requestHeader.'X-Cms-TransactionId']"/>
		<flow-ref doc:name="post-member-implementationFlow" doc:id="12d6c5c2-ec6e-4034-a732-a3adffecb9dc" name="post-member-implementationFlow"/>
		<logger level="INFO" doc:name="Response logger for post member" doc:id="65fdf82a-4e9e-4e19-a53a-f31f9c279db0" message="Response Sent for POST member SAPI for transactionId :   #[vars.requestHeader.'X-Cms-TransactionId']"/>
    </flow>
    <flow name="post:\members\sync:application\json:member-system-api-config">
		<logger level="INFO" doc:name="Request logger for post member sync" doc:id="f7009c8f-50b5-438c-ae39-2f3d451b812a" message="Request Received for POST member Sync SAPI for transactionId :   #[vars.requestHeader.'X-Cms-TransactionId']" />
		<flow-ref doc:name="Flow Reference" doc:id="2c1b49c9-748b-47a3-912a-5874fa1eda86" name="post-member-sync-implementationFlow"/>
		<logger level="INFO" doc:name="Response logger for post member sync" doc:id="db4dbf24-fde4-4e9b-b20e-331906acef3f" message="Response Sent for POST member Sync SAPI for transactionId :   #[vars.requestHeader.'X-Cms-TransactionId']" />
    </flow>
</mule>
